h1{
    color: rgb(36, 2, 2);
    background-color: rgb(149, 138, 243);
}
body{
    align-items: center;
    text-align: center;
    align-content: center;
}
span{
    font-style: inherit;
    font-size: large;
    color: rgb(9, 194, 226);
}
div{
    input[type=button], input[type=submit], input[type=reset] 
        border-width: 2px;
        padding: 4px
        font-size: 10pt;
        color: yellow;
     
        text-align: center;
}  
.button{
    background-color: green;
    color: white;
text-decoration: dotted;
}
.submit{
    color: tomato;
    background-color: darkgreen;
}
.form{
    background-color: rgb(113, 187, 162);
    color: black;
}
.form2{
    background-color: rgb(231, 145, 188);
    color: rgb(3, 17, 11);
}
.p1{
    color: red;
    background-color: blanchedalmond;
}